$light-color:#999;
$normal-color:#555;
.blogWrap {
    height: 100vh;
    overflow: hidden;
}

.rightContent {
    float: right;
    width: 60%;
    overflow-y: scroll;
    height: 100%;
}


.musicBox {
    min-height: calc(100vh - 240.59px);
    position: relative;
}

#my-music {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%)
}

.ant-tabs-nav-scroll {
    display: flex;
    justify-content: center;
}

.ant-tabs-nav div.ant-tabs-tab {
    color: $normal-color;
    font-size: 22px;
    padding: 16px 0;
}

div.ant-tabs-ink-bar {}

.ant-tabs-nav div.ant-tabs-tab-active.ant-tabs-tab {
    color: #1890ff
    /*  color:rgba(0, 255, 255,1); */
    //   text-shadow: 3px 3px 0 rgba(0, 255, 255,0.1);
}

.ant-tabs-bar {
    border: none;
}

.header {
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .userBox {
        display: flex;
        align-items: center;
    }
    /*  background: rgb(208, 208, 208); */
    //background:rgb(230, 247, 255);
}

.fixed-bg {
    display: block;
    width: 3rem;
    position: fixed;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.listUl {
    width: 8rem;
    margin: 0 auto;
    margin-top: 50px;
    .articleItem {
        min-height: 200px;
        color: #555;
        padding: 0.15rem 0.2rem;
        margin-top: 30px;
        box-shadow: 0 0 5px rgba(202, 203, 204, 0.5);
        -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, 0.5);
        -moz-box-shadow: 0 0 5px rgba(202, 203, 204, 0.5);
        .title {
            font-size: 22px;
        }
        .desc {
            color: $light-color
        }
        .distance {
            margin-right: 10px;
            display: inline-block;
        }
        .icon {
            margin-right: 8px;
        }
        .content {
            line-height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}

/*detail*/

.detailContent {
    width: 9rem;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 0 5px rgba(202, 203, 204, 0.5);
    min-height: 500px;
    padding: 15px 20px;
    color: $normal-color;
    line-height: 24px;
    img {
        width: 90%;
    }
    .contentTitle {
        text-align: center;
        font-size: 22px;
    }
    .icon {
        margin-right: 5px;
    }
    .ant-comment-avatar img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
}

/*release*/

.marginBottom {
    margin-bottom: 20px;
}

/* 文章页 */

button.checkButton {
    position: absolute;
    bottom: 0.15rem;
    right: 0.15rem;
    border-radius: 3px;
    border: none;
}


/*聊天样式*/
.talkBox{ 
    min-height: calc(100vh - 240.59px);
    position: relative;    
   
}
.talkBox {
    margin-bottom: 20px;
    justify-content: center;
}
.phone {
    height: 5rem;
    width: 3rem;
    padding:0.1rem;
    margin:0 auto;
    border-radius:5px;
    overflow-y:scroll;            
    margin-top: 50px;
    position: relative;
    box-shadow: 0 14px 28px rgba(33, 150, 243, 0), 0 10px 10px rgba(9, 188, 215, 0.08);
}  
.leftPanel,.rightPanel{ 
 margin-bottom:0.12rem;
}
.userImg{ 
 float:left;
 display:inline-block;
 width:0.3rem;
}
 .textBox{ 
  float:left;
  width:2.2rem;   
  color:#ffffff;
 }
 .talkContent{ 
  padding:8px;
  border-radius:3px;
  float:left;
  background:rgba(0,0,0,0.5);
 }
 .right{ 
   float:right!important;  
 }
 .bgImg{ 
    position:absolute;
    width:100%;
    height:100%;
    opacity:0.6;
    display: block;
    left: 0;
    top: 0;
 }