$light-color:#999;
$normal-color:#555;
.blogWrap{ 
 height:100vh;
 overflow: hidden;
}
.rightContent{float:right;width:60%;overflow-y: scroll;height:100%; }
.ant-tabs-nav-scroll{display:flex;justify-content:center; }
.ant-tabs-nav div.ant-tabs-tab{color:$normal-color;font-size:18px;padding:16px 0; }
.ant-tabs-tab-active.ant-tabs-tab{color:$normal-color  }
.ant-tabs-bar{border:none; }

.header {
    height: 80px;
    padding:20px;
   /*  background: rgb(208, 208, 208); */
   //background:rgb(230, 247, 255);
}

.fixed-bg {
    display: block;
    width: 3rem;
    position: fixed;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.listUl {
    width:6rem;
    margin: 0 auto;
    margin-top: 50px;
    .articleItem{
        min-height: 200px;
        color: #555;
        padding: 15px 20px;
        margin-top:30px;
        box-shadow: 0 0 5px rgba(202, 203, 204, 0.5);
        -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, 0.5);
        -moz-box-shadow: 0 0 5px rgba(202, 203, 204, 0.5);
        .title {
            font-size: 22px;
        }
        .desc {
            color: $light-color
        }
        .distance {
            margin-right: 10px;
            display: inline-block;
        }
        .icon {
            margin-right: 3px;
        }
        .content {
            line-height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
} 


/*detail*/
.detailContent{ 
    width:900px;
    margin:0 auto;
    margin-top:50px;
    box-shadow: 0 0 5px rgba(202, 203, 204, 0.5);
    min-height:500px;
    padding: 15px 20px;
    color:$normal-color;
    line-height:24px;
.contentTitle{ 
text-align:center;
font-size:22px;
}

}